body {
    padding-top: 56px;
}

header {
    background: url('https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') no-repeat center center;
    background-size: cover;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

header .container {
    position: relative;
    z-index: 1;
    color: white;
}

.service-card {
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-10px);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    header {
        height: 50vh; /* Asegúrate de que no haya espacios o caracteres extraños aquí */
    }
}
